<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Crear user</h1>
    <form action="/usersNr/create" method="POST">
        <div class="row">
            <label for="name">Name</label>
            <input type="text" name="name">
            <br>
            <label for="age">Age</label>
            <input type="number" name="age">
        </div>
        <button type="submit">Agregar usuario</button>
    </form>
</body>
</html>